<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/editUser.css">
</head>
<body>
    <div class="form_create">
        <h2>Edit User <%= dataUser.lastName %></h2>
        <form action="/update-user/<%= dataUser.id %>" method="post">
            <label>First name:</label><br>
            <input type="text" name="firstName" value="<%= dataUser.firstName %>" ><br><br>    
            <label>Last name:</label><br>
            <input type="text" name="lastName" value="<%= dataUser.lastName %>"><br><br>
            <label>Email:</label><br>
            <input type="text" name="email" value="<%= dataUser.email %>"><br><br>
            <label>Address:</label><br>
            <input type="text" name="address" value="<%= dataUser.address %>"><br><br>
            <input class="submit_create" type="submit" value="Submit">
        </form>
    </div> 
</body>
</html>